

.react-tel-input .form-control{
    height: 45px!important;
    border: 1px solid #999!important;
    width: 100%!important;
    border-radius: 0!important;
}

.react-tel-input .flag-dropdown{
    border-color: #999!important;
}